{:dependencies
 [[cider/cider-nrepl "0.28.6"]
  [refactor-nrepl "3.5.5"]
  ;; piggieback 0.5.2
  ;; nrepl 1.0.0
  [hashp "0.2.2"]
  [org.tcrawley/dynapath "0.2.5"]
  [com.cemerick/pomegranate "0.4.0"]
  ;; silence
  ;; SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder".
  ;; SLF4J: Defaulting to no-operation (NOP) logger implementation
  ;; SLF4J: See http://www.slf4j.org/codes.html#StaticLoggerBinder for further details.
  [org.slf4j/slf4j-nop "1.5.8"]]}
