{:dependencies
  [[cider/cider-nrepl "0.27.2"]
   [refactor-nrepl "3.0.0-alpha13"]
   [org.tcrawley/dynapath "0.2.5"]
   [com.cemerick/pomegranate "0.4.0"]
   ;; https://github.com/thheller/shadow-cljs/issues/818
   [com.google.guava/guava "30.1-jre"]]}
